h1 {color: orange;text-align: center;4}
#box-one {background-color: gray;}
#box-two {background-color: yellow;padding: 10px;}
ul {
  list-style-type: square;
}
.navigation li {
  background: url(/Users/g/Desktop/point.png) 0 50% no-repeat; background-size: 10px;
  list-style-type: none; 
  padding-left: 12px;
  display: inline-block;
  margin: 0 10px;
  <!—float: left;>
  <!—margin: 0 20px;>
  <!—comment>
}
.navigation ul {
  font: bold 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.navigation li:last-child a {
  color: orange;
}

.teaser img {
  <!—border-radius: 5px;>
  <!—display: block;>
  margin-bottom: 22px;
  max-height: 10px;
  max-width: 100px
}
.below audio { 
  height: 300px;
  width: 500px
}

th,
td {
  border: 1px solid #cecfd5;
  padding: 1px 1px;
}
table {
  border-collapse: collapse;
}
tbody tr:nth-child(even) {
  background: #f0f0f2;
  text-transform: uppercase;
}
.item-price {
  text-align: right;
}